.tag {
    margin-top: 60px;
    margin-bottom: 20px;
    clear: both;
}
.span-tag {

}
.index-img {
    border: 1px solid #2f2f2f;
    height: 330px;
    padding: 5px 5px 0 5px;
    text-align: center;
}
